<h2>Restablecer contraseña</h2>
<form action="/user/reset-password/{{token}}" method="POST">
  <label>Nueva Contraseña:</label>
  <input type="password" name="newPassword" required />
  <button type="submit">Actualizar</button>
</form>